# ignore secrets.yaml
secrets.yaml
# ignore logs
*.log
OZW_Log.txt

# ignore configuratorsettings.conf
configuratorsettings.conf

# ignore images
/www/images/*

# ignore .ios.conf
.ios.conf

# ignore spotify token cache
.spotify-token-cache

.uuid

#ignore mp3
/tts/
#ignore cloud files
/.cloud/